.customer-profile {
    box-sizing: border-box;
    padding: 50px 0;
}

.profile-heading {
    text-align: center;
    padding: 10px 0;
}

/* ------------  Section one including profile info and service used  ------ */
.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.profile-detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    position: relative;
    margin-bottom: 120px;
}

.profile-image {
    width: 250px;
    height: 250px;
    background-color: #fde9e9;
    border-radius: 50%;
    z-index: 10;
}

.update-image {
    z-index: 11;
    text-align: center;
    position: absolute;
    right: 25%;
    top: 70%;
}

.update-button {
    /* background-color: #7EF999;
    border: none;
    border-radius: 50%;
    font-size: 24px; */

    width: 40px;
    height: 40px;
    visibility: hidden;
}

.update-button::before{
    content: "+";
    visibility: visible;
    cursor: pointer;
    background-color: #7EF999;
    font-size: 24px;
    display: inline-block;
    border-radius: 50%;
    padding: 5px 12px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
}




.update-button:focus{
    border: none;
    outline: none;
    background-color: #1c8ef8;
}

.profile-info {
    background-color: #c4c4c4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    top: 80%;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.overlap {
    height: 50px;
    width: 100%;
}

.other-info {
    color: white;
    flex: 1 1 auto;
    width: 50%;
    text-align: center;
    margin: 5px 0px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.edit-button {
    background-color: transparent;
    border: none;
    margin-left: 15%;
}

.edit-button:focus {
    outline: none;
}

.edit-input {
    width: 60%;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    color: white;
    background-color: #c2c2c2;
}


.service-used {
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 80px 15px;
}

.service-box {
    width: 100%;
    height: 50px;
    background-color: #e7e7e7;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-logo {
    width: 40px;
    height: 40px;
    background-color: #c4c4c4;
    font-size: 12px;
}

#service-link {
    color: white;
    text-decoration: none;
    background-color: #ffe2e2;
    font-size: 10px;
}

/* ---------------  section two for photos and review section  ------- */
.section-two {
    display: flex;
    justify-content: space-around;
    display: flex;
    width: 80%;
    margin: 0 auto;
    border-top: 2px solid black;
}

.featured-photo {
    border-right: 2px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.featured-heading {
    margin: 0 0 15px 0;
}

.grid {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 10px 10px;
    justify-items: center;
    align-self: center;
}

.grid-box {
    width: 50px;
    height: 50px;
    background-color: #c4c4c4;
}

.reviews {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.reviews-heading {
    align-self: center;
    margin: 0 0 15px 0;
}

.reviews-list {
    display: flex;
    flex-direction: column;
}

.reviews-box {
    padding: 10px 10px;
    border-radius: 40px;
    background-color: #c4c4c4;
    margin: 5px 20px;
}


@media only screen and (max-width: 1024px){
    /* ----  no need  ------ */
}

/* TABLETS PORTRAIT */
@media only screen and (max-width: 760px){
    .profile-image{
        width: 200px;
        height: 200px;
    }

    .profile-detail {
        width: 400px;
    }

    .service-used {
        width: 400px;
    }

    .section-two {
        width: 430px;
    }
    .heading {
        font-size: 24px;
    }

    .grid {
        grid-template-columns: 40px 40px 40px;
    }
    
    .grid-box {
        width: 40px;
        height: 40px;
    }

    .reviews-box {
        margin: 5px;
        font-size: 12px;
    }

    .update-image {
        right: 25%;
        top: 70%;
    }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px){
    .profile-image{
        width: 200px;
        height: 200px;
    }

    .profile-detail {
        width: 300px;
    }

    .service-used {
        width: 300px;
    }

    .service-heading {
        font-size: 20px;
    }

    .section-two {
        width: 300px;
    }

    .heading {
        font-size: 16px;
    }

    .grid {
        grid-template-columns: 30px 30px 30px;
    }
    
    .grid-box {
        width: 30px;
        height: 30px;
    }

    .reviews-box {
        margin: 5px;
        font-size: 8px;
    }

    .update-image {
        right: 20%;
        top: 75%;
    }
}

/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 300px){

}