.form-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70vw;
	margin: 20px auto;
	background-color: #1c8ef8;
	border-radius: 10px;
	padding: 30px 0;
}

.form-header {
	font-size: 42px;
	color: white;
}

.form-component {
	background-color: #1c8ef8;
	padding: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30vw;
	margin: 0 auto;
}

#input {
	background-color: #1c8ef8;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 0;
	padding-left: 0;
	color: white;
	margin: 6px 0;
}

#input::placeholder {
	color: white;
}

#button {
	margin: 15px 0;
	width: 100%;
	background-color: white;
	color: #1c8ef8;
	border-radius: 25px;
}

#button:hover {
	background-color: black;
	color: #ffe54c;
}

@media only screen and (max-width: 1024px) {
	.form {
		width: 40vw;
	}
}

/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) {
	.form-div {
		width: 90vw;
	}
	form {
		width: 80vw;
	}
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {
	#form {
		width: 60vw;
	}
	.form-header {
		font-size: 28px;
	}
}

/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 300px) {
	#form {
		width: 80vw;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
